<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Logout Page</title>
    </head>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <body>
	
	<a class="p-2 text-dark" href="/">На главную</a>
    <br><br><br>
 
<div>
   <span th:text="${#request.userPrincipal?.principal?.username}"></span>
    <span th:text="${#request.userPrincipal?.principal?.roles}"></span>
</div>

    </body>
</html>
