<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
newTest
<header th:insert="blocks/header :: header"></header>
<br>
<div class="container  mt-5">
<h1>Добавление товара</h1>
<form action="/product/add" method="post">
<input type="name" name="name" placeholder="Название товара" class ="form-control"><br>
<textarea name="description" placeholder="Описание товара" class ="form-control"></textarea><br>
<input type="price" name="price" placeholder="Цена товара" class ="form-control"><br>
<button type="submit" class="btn btn-success">Добавить товар</button>
</form>
</div>
<br>
<h3>Product list</h3>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
	  <th scope="col">Management</th>
    </tr>
  </thead>
  
 <div th:each="el : ${product}" class="allert allert-info mt-2">  
 
 <tbody>
    <tr>
      <th scope="row"><h4 th:text="${el.id}"/></th>
      <td><h4 th:text="${el.name}"/></td>
      <td><h4 th:text="${el.description}"/></td>
      <td> <h4 th:text="${el.price}"/></td>
	  <td><a th:href="'/product/'+${el.id}+'/edit'">Edit</a><br>
          <a th:href="'/product/'+${el.id}+'/remove'">Delete</a> </td>
    </tr>
 </tbody>
 </table>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>