<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

По умолчанию  только неподтвержденные +кнопка "показать все что есть". Фильтры по всем параметрам
rewiewtestLAST!
<h3>Review list</h3>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">ProductId</th>
      <th scope="col">Data</th>
      <th scope="col">UserId</th>
	  <th scope="col">Text</th>
	  <th scope="col">Approved</th>
	  <th scope="col">Management</th>
    </tr>
  </thead>
  
 <div th:each="el : ${review}" class="allert allert-info mt-2">  
 
 <tbody>
    <tr>
      <th scope="row"><h4 th:text="${el.id}"/></th>
      <td><h4 th:text="${el.productId}"/></td>
      <td><h4 th:text="${el.data}"/></td>
      <td> <h4 th:text="${el.userId}"/></td>
	  <td> <h4 th:text="${el.text}"/></td>
	    <td> <h4 th:text="${el.approved}"/></td>
	  <td> <a th:href="@{review/approwed/}+${el.id}">Approved</a><br>
           <a th:href="@{review/remove/}+${el.id}">Delete</a></td>
    </tr>
 </tbody>
 </table>


</div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>