<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<br>
<br>
<h3>User list</h3>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">UserName</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
	  <th scope="col">Active</th>
	  <th scope="col">Management</th>
    </tr>
  </thead>
  
 <div th:each="el : ${users}" class="allert allert-info mt-2">  
 
 <tbody>
    <tr>
      <th scope="row"><h4 th:text="${el.id}"/></th>
      <td><h4 th:text="${el.username}"/></td>
      <td><h4 th:text="${el.password}"/></td>
      <td> <h4 th:text="${el.roles}"/></td>
	  <td><h4 th:text="${el.active}"/></td>
	  <td><a th:href="'/user/'+${el.id}+'/edit'">Change active</a><br>
          <a th:href="'/user/'+${el.id}+'/remove'">Delete</a> </td>
    </tr>
  </tbody>
 </table>

</div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>