<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<br>
<h3>Зона Администратора</h3>
<span th:text="${#request.userPrincipal.principal.username}"></span>
<span th:text="${#request.userPrincipal.principal.roles}"></span>
last8test
<br><br><br>
<button onClick='location.href="/adminPageProduct"' type="button" class="btn btn-success">Продукты</button>
<button onClick='location.href="/adminPageReview"' type="button" class="btn btn-success">Отзывы</button>
<button onClick='location.href="/adminPageUser"' type="button" class="btn btn-success">Юзеры</button>
		 
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>