<!DOCTYPE HTML>
<html xmlns: sec = " http://www.thymeleaf.org/extras/spring-security ">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Вэлкам заголовочек</h1>
  <p class="lead">текст типа девиз или что-то подобное коротенькое</p>
</div>	  	  
    </div>
	
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Наши товары</h4>
      </div>
      <div class="card-body">
         <img class="mb-2" src="#4картинка" alt="" width="24" height="24">	 
        </ul>
        <button onClick='location.href="/showcase"' type="button" class="btn btn-lg btn-block btn-outline-primary" >Выбрать продукты</button>
      </div>
    </div>
  	
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">О Ферме</h4>
      </div>
      <div class="card-body">
        <img class="mb-2" src="#3картинка" alt="" width="24" height="24">
        </ul>
        <button onClick='location.href="/aboutUs"' type="button" class="btn btn-lg btn-block btn-outline-primary">О нас</button>
      </div>
    </div>
  </div>
    </div>
	
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>