<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container  mt-5">
<h1>Редактирование товара</h1>
<div th:each="el : ${product}">
<form method="post">
<input type="text" th:value="${el.name}" name="name" placeholder="Введите новое название продукта" class ="form-control"><br>
<textarea name="description"  placeholder="Введите новое описание" class ="form-control" th:text="${el.description}"/><br>
<input type="text" th:value="${el.price}" name="price" placeholder="Введите новую цену" class ="form-control"><br>
<button type="submit" class="btn btn-success">Обновить продукт</button>
</form>
</div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>