<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container  mt-5">
<div th:each="el : ${product}" class="allert allert-info mt-2">
<h1 th:text="${el.id}"/>
<h1 th:text="${el.name}"/>
<p th:text="${el.description}"/>
<p th:text="'Цена: ' +${el.price}+ ' грн.'"/>


<div th:each="re : ${review}" class="border">
<a th:text="${re.data}"/>
<h5 th:text="${re.text}"/>
<br>
</div>


<br>
<h1>Добавление отзыва </h1>
<form th:action="@{review/add/}+${el.id}"  method="post">
<textarea name="review" placeholder="Введите полный текст отзыва" class ="form-control"></textarea>
<button type="submit" class="btn btn-success">Добавить отзыв</button>
</form>

</div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>