<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <title th:text="${title}"> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="blocks/header :: header"></div>
 <div th:each="el : ${product}" class="allert allert-info mt-2">  
<div class="card" style="width: 18rem;" id="showCase-list">
  <div class="card-body">
    <h2 class="card-title" th:text="${el.name}" ></h2>
    <p class="card-text" th:text="${el.description}" ></p>
	 <p class="card-text" th:text="${el.price}" ></p>
     <p><a th:href="'/product/'+${el.id}" class="btn btn-primary btn-sm">View Details </a></p><br/>
  </div>
</div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
