<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Sorry, you do not have permission to view this page.</h2>

  <a class="btn btn-outline-primary" href="/">to go back to the Homepage</a>
<br><br>
  
<span th:text="${#request.userPrincipal?.principal?.username}"></span>
<span th:text="${#request.userPrincipal?.principal?.roles}"></span>

</body>
</html>